<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <a href="#dashboard">Dashboard</a>
        </li>
        <li class="active">Messages</li>
    </ul>
</div>
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
							<div class="col-lg-12" ng-init="activeHotelTab=1">
											<ul class="nav nav-tabs">
											<li ng-class="{'active' : activeHotelTab == 1}"><a href="" ng-click="activeHotelTab=1"><strong>Messages</strong></a></li>
											<!--<li ng-class="{'active' : activeHotelTab == 2}"><a href="" ng-click="activeHotelTab=2"><strong>Titles </strong></a></li>
											<li ng-class="{'active' : activeHotelTab == 3}"><a href="" ng-click="activeHotelTab=3"><strong>Roles </strong></a></li>-->
											
											
											</ul>
							<div class="tab-content">
											<div ng-show="activeHotelTab==1">
														<div class="sk-wave" ng-show="IsMessageListLoading">
																			<div class="sk-rect sk-rect1"></div>
																			<div class="sk-rect sk-rect2"></div>
																			<div class="sk-rect sk-rect3"></div>
																			<div class="sk-rect sk-rect4"></div>
																			<div class="sk-rect sk-rect5"></div>
																		  </div>
													<div class="widget-main" ng-show="!IsMessageListLoading">
														<h4 class="header blue lighter bigger">
															List of available Messages 
														</h4>
														<div class="space-6"></div>

														<select ng-model="MessagesnumPerPage" class="btn btn-default">
																<option>5</option>
																<option>10</option>
																<option>15</option>
																<option>25</option>
																<option>50</option>
																</select> Records per page. 
																<!--<button  class="width-35 pull-right btn btn-sm btn-primary" ng-click="doAddNewUser()" >
																		Add New User
																	</button>-->
																	<a ng-show="IsAdmin()" href="#message/add" class="width-35 pull-right btn btn-primary a-btn-slide-text">
																        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
																        <span><strong>New Message</strong></span>            
																    </a>
														<input class="form-control" type="text" placeholder="Enter to search" ng-model="Messagesearch.Text" />
														
														<div class="space-6"></div>
																					<div class="table-responsive">
																					
																<table class="table table-striped table-bordered table-hover" id="dataTables-example">
																	<thead>
																		<tr>
																		<th ng-show="!IsAdmin()"><a ng-click="Messagesorder('HotelName')">Hotel</a>  </th>
																			<th><a ng-click="Messagesorder('Firstname')">From</a>  </th>
																			<th><a ng-click="Messagesorder('Subject')">Subject</a>  </th>
																			<th><a ng-click="Messagesorder('CreatedDate')">On</a>  </th>
																			
																			
																			<th>Actions</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr ng-repeat='item in messagesList | orderBy:Messagespredicate:Messagesreverse | filter:Messagespaginate| filter:Messagesearch.Text' class="odd gradeX">
																		<td ng-show="!IsAdmin()">{{item.HotelName}}</td>
																		<td>{{item.Firstname}}</td>
																			<td>
																			<a ng-show="item.newcount>0" href="#/message/{{item.ID}}">{{item.Subject}}</a>
																			<a ng-show="item.newcount<=0" style="color:black;" href="#/message/{{item.ID}}">{{item.Subject}}</a>
																			</td>
																			<td>{{item.CreatedDate}}</td>
																			
																			<td>
																			<!--<a href='#/usermgmt/view/{{item.ID}}'><img src="images/edit-icon.png" width="15px" height="17px" /></a> | --><a ng-click="doDeleteUser(item)">
																			<!--<img src="images/delete-icon.png" width="15px" height="17px" />
																			</a>-->
																			<!--<button ng-click="GoTo('usermgmt/view/'+item.ID)" class="btn btn-primary btn-xs" data-title="Edit"  ><span class="glyphicon glyphicon-pencil"></span></button>
																			-->

																			<button ng-show="LoggedUserID()==item.UserID" ng-click="DeleteContactFormMessage(item)" class="btn btn-danger btn-xs" data-title="Delete"  ><span class="glyphicon glyphicon-trash"></span></button>
																			</td>
																		</tr>
																		
																		
																	</tbody>
																</table>
																<div>
																
														
														
																<pagination total-items="MessagestotalItems" ng-model="MessagescurrentPage"  
																 max-size="5" boundary-links="true"  
																 items-per-page="MessagesnumPerPage" class="pagination-sm">  
														   </pagination> 
														   </div>

												</div>
													
												</div>
												</div>
												<div ng-show="activeHotelTab==2">
							
													
												</div>
												<div ng-show="activeHotelTab==3">
												

												</div>
											
													
								
								</div>
					</div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- /.page-content -->