<div class="ngdialog-message">
            <h4>Circuit Table help</h4>
            <hr/>
            <p ng-show="theme">Due to the seasonal variations of electricity consumption in line with the outside temperature, a minimum, average and maximum electricity usage is displayed within this table. These figures should be directly comparable to your daily consumption figures for the appropriate season.</p>

            

        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>

       