<div class="ngdialog-message">
            <h4>Daily consumption Detail help</h4>
            <hr/>
            <p ng-show="theme">The daily energy breakdown per functional group is displayed within this table. This should appear here at 10am each day to allow you to present these numbers to your team at your daily meeting and to build upon an energy saving strategy that involves all hotel employees.
There is an option to print the table on the “Actions” button at the upper right hand corner.</p>
            <p ng-show="theme">By clicking on the “Actions” button on the upper right hand corner, you can view the “Energy Consumption Graph”, this shows the total cost of electricity of the hotel and a breakdown of each functional group. To show a single functional group on the graph, click on the acronyms in the key to remove those that you do not want to display.
</p>
<p ng-show="theme">There is an option to print the graph below the “Actions” button.</p>
        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>