<div class="ngdialog-message">
            <h4><strong>Browser cache</strong></h4>
            <hr/>


  table.button.small-expanded center {
    min-width: 0;
  }
}
<body>
<br /> 
<span style="color: #ff0000;"><strong>Firefox</strong></span>

From the History menu, select Clear Recent History. ...
From the Time range to clear: drop-down menu, select the desired range; to clear your entire cache, select Everything.
Next to "Details", click the down arrow to choose which elements of the history to clear; to clear your entire cache, select all items.
<br /> 
<span style="color: #339966;"><strong>Internet Explorer</strong></span>

Cog top right
Saftey &gt; Delete Browsing History
<br /> 
<span style="color: #0000ff;"><strong>Safari</strong></span>

menu &gt; Clear History

or Preferences &gt; Privacy &gt; Manage Website data
<br /> 
<span style="color: #ffcc00;"><strong>Chrome</strong></span>

menu &gt; Clear Browsing data
or three dots top right menu &gt; more tools &gt; Clear Browsing data


</body>
</html>
            

        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>

       