<div class="ngdialog-message">
            <h4>Weather Table help</h4>
            <hr/>
            <p ng-show="theme">Test content for <code>fdff</code></p>
            <p ng-show="theme">Test content for <code>fdff</code></p>
            <p ng-show="theme">Test content for <code>fdff</code></p>
            <p ng-show="theme">Test content for <code>fdff</code></p>
            <p ng-show="theme">Test content for <code>fdff</code></p>
            <p ng-show="theme">Test content for <code>fdff</code></p>
            

        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>

       