<div class="ngdialog-message">
            <h4>Alert Table help</h4>
            <hr/>
            <p ng-show="theme">Based on an in-depth consultation, visits to the hotel by an experienced energy engineer and analysis of your electrical circuits, a number of alerts have been set-up to guide you towards overall energy reduction. When a threshold is breached, an alert will be sent to the appropriate person, usually a member of the night team or the Maintenance Manager.
All of the alerts sent to the hotel are displayed within this table. Information is supplied regarding the date and time, the function group that has breached the threshold and some supplementary information which should enable identification of the electrical items as quickly as possible. 
The receiver of the alert should respond to the alert (normally an email) and the response is also recorded within this table.</p>
           
        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>

       