<div class="ngdialog-message">
            <h4>Observations Information and hotel actions help</h4>
            <hr/>
            <p ng-show="theme">A Responsible Power Energy Engineer will visit your hotel to help you identify where upgrades, repairs and new additions to the hotel could help the hotel use electricity more efficiently and reduce the overall energy consumption. These observations are displayed within this table. The 10 most important observations are always displayed at the top so that you are aware of what work needs to be undertaken and what the annual electricity saving would be.</p>

            

        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>

       