<div class="ngdialog-message">
            <h4>Hotel Daily Statistics table help</h4>
            <hr/>
            <p ng-show="theme">This widget should be filled out daily by your night team, it allows the input of data for each of covers in the restaurant, rooms occupied, sleepers, functions, delegates and spa for that day. Information can be easily input using the on the left hand side.
The statistics can be downloaded to Excel for your own records by clicking on the “Actions” button and exporting to .csv.</p>

        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>

       