<div class="ngdialog-message">
            <h4>Hotel Statistics Chart help</h4>
            <hr/>
            <p ng-show="theme">The chart allows you to compare how busy each day has been, it is a general rule that if the hotel is busier then it should be consuming more electricity than if it was quiet.
Each functional group is highlighted in a different colour to show how much energy they are using.</p>

        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>

       
