<div class="ngdialog-message">
            <h2>Weather Chart Information help</h2>
            <hr/>
            <p ng-show="theme"></p>
The weather has a large effect on your electricity consumption. Here we display the average outside temperature in black along with HDD (Heating Degree Days in <span style="color: #ff0000;">red</span>) and CDD Cooling degree days in <span style="color: #3366ff;">blue</span>) give you a greater understanding of your hotels heating and cooling requirements. It is expected that hotel heating will increase on cold days and cooling may be required on warmer days.

Heating degree day (HDD) is a measurement designed to quantify the demand for energy needed to heat your building. HDD is derived from measurements of outside air temperature. ... In the U.K., 15.5°C (60°F) is the standard base temperature.

Cooling degree day (CDD), reflects the amount of energy used to cool your Hotel....We have set this for your Hotel at 22°C (72°F)

&nbsp;


For more information on Heating and Cooling degree days have a look at this article on degree days 
from energylens.com</a>

http://www.energylens.com/articles/degree-days

</p>



        </div>
        <hr/>
        <div class="ngdialog-buttons">
             <button class="inline close-this-dialog" ng-click="closeThisDialog()">Close</button>
        </div>
        
        

       