<!--<div class="alert-box error"><span>error: </span>Write your error message here.</div>
			<div class="alert-box success"><span>success: </span>Write your success message here.</div>
			<div class="alert-box warning"><span>warning: </span>Write your warning message here.</div>
			<div class="alert-box notice"><span>notice: </span>Write your notice message here.</div>-->

<div class="alert-box success" ng-repeat='vItem in ContactFormMessageList'><span>{{vItem.Firstname}}: </span>{{vItem.Message}}.</div>
